header{
    color:#000000;
    font-size: 40px;
    text-align: center;
    padding: 1%;
    font-family:'Times New Roman';

}
body {
    font-family: 'Times New Roman';
    background-color: #eed9e4;
  }
  
  #card-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    height: 55vh;
    width: calc((100% / 3) - 16px);
    margin: 8px;
    border-radius: 3px;
    transition: all 200ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  span{
    color: #ecf0f1;
  }
  
  .card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .card-actions {
    margin: 8px;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #loader {
    display: flex;
  }
  
  .skeleton-card {
    height: 55vh;
    width: calc((100% / 3) - 16px);
    margin: 8px;
    border-radius: 3px;
    transition: all 200ms ease-in-out;
    position: relative;
    background-color: #613659;
  }
  
  .skeleton-card::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  @keyframes load {
    100% {
      transform: translateX(100%);
    }
  }
  
  @media screen and (prefers-reduced-motion: reduce) {
    .skeleton-card::after {
      animation: none;
    }
  }
  nav {
    margin: 27px auto 0;
  
    position: relative;
    width: 310px;
    height: 50px;
    background-color: #613659;
    border-radius: 8px;
    font-size: 0;
  }
  nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    font-family:'Times New Roman';
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
  }
  a:nth-child(1) {
    width: 100px;
  }
  a:nth-child(2) {
    width: 110px;
  }
  a:nth-child(3) {
    width: 100px;
  }
  a:nth-child(4) {
    width: 160px;
  }
  a:nth-child(5) {
    width: 120px;
  }
  nav .start-Explore, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #d06bff;
  }
  nav .start-Profile, a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #8d2abe;
  }
  nav .start-Favorites, a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background-color: #600a88;
  }
  

  h1 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;

  }
  
  p {
      position: absolute;
      bottom: 20px;
      width: 100%;
      text-align: center;
      color: #ecf0f1;
      font-family: 'Cherry Swash',cursive;
      font-size: 16px;
  }
  
  nav.span {
      color: #2BD6B4;
  }